p {
  color: red;
}

.container {
    display:inline-flex;
    flex-flow : column wrap;
    align-content : flex-start;
    height : 100%;
}

.content {
    width:100%;
    max-width:800px;
    margin:0 auto;
    text-align:center;
}

.box {
    display: inline-block;
    height: 170px;
    width: 170px;
    margin: 10px;
}
