<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'alm_viewer/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Viewer</a>


      </div>
    </div>
  </nav>
  <form action="{% url 'plot_viewer:home' %}" method="get"> {% csrf_token %}

    <label>X-Axis</label>
    <select name="x_axis_search" id="x_axis_search">
      <option disabled selected value> - select x-axis - </option>
      <option value="season">Season</option>
      <option value="mix_type">Mix Type</option>
      <option value="location">Location</option>
    </select>

    <label>Y-Axis</label>
    <select name="y_axis_search" id="y_axis_search">
      <option disabled selected value> - select y-axis - </option>
      <option value="season">Season</option>
      <option value="mix_type">Mix Type</option>
      <option value="location">Location</option>
    </select>

    <label>Filter</label>
    <select name="filter_type" id="filter_type">
      <option disabled selected value> -Filter- </option>

    </select>

    <label>Normalization</label>
    <select id="normalization" name="normalization">
      <option disabled selected value> - select normalization   - </option>
      <option value="norm">Summer Total Peak Normalization</option>
		  <option value="hour_norm">Hourly Normalization</option>
		</select>

    <input id="Search-submit" type="submit" value="Submit">
  </form>


  {% block content %}

  {% endblock %}
  <div action="{% url 'plot_viewer:home' %}" method="index" style="display:none">
    <div id='locations'>
      <option disabled selected value> -Location- </option>
      {% for objects in dist_loc %}
        <option value="{{objects}}">{{objects}}</option>
      {% endfor %}
    </div>

    <div id='seasons'>
      <option disabled selected value> -Season- </option>
      {% for objects in dist_season %}
        <option value="{{objects}}">{{objects}}</option>
      {% endfor %}
    </div>

    <div id='mix_types'>
      <option disabled selected value> -Mix Types- </option>
      {% for objects in dist_mt %}
        <option value="{{objects}}">{{objects}}</option>
      {% endfor %}
    </div>
  </div>




<script src="https://code.jquery.com/jquery-1.10.1.js"></script>
<script>
$(document).ready(function() {

  $("#y_axis_search, #x_axis_search").change(function () {
    $("#filter_type").empty().append('<option disabled selected value> -Filter- </option>')

    var y_axis = $("#y_axis_search");
    var x_axis = $("#x_axis_search");
    var locContent = $('#locations').html();
    var seasContent = $('#seasons').html();
    var mtContent = $('#mix_types').html();


    $("#filter_type").empty().append('<option disabled selected value> -Filter- </option>')

    if (x_axis.val() == "location") {
      if (y_axis.val() == "season"){
          $("#filter_type").html(mtContent);
        }
      if (y_axis.val() == "mix_type"){
        $("#filter_type").html(seasContent)
      }
    }
    else if (x_axis.val() == "season") {
      if (y_axis.val() == "location"){
        $("#filter_type").html(mtContent);      }
      if (y_axis.val() == "mix_type"){
        $("#filter_type").html(locContent);
      }
    }
    else if (x_axis.val() == "mix_type") {
      if (y_axis.val() == "location"){
        $("#filter_type").html(seasContent)
      }
      if (y_axis.val() == "season"){
        $("#filter_type").html(locContent)
      }
    }
  });
});
</script>

</body>
</html>
